/* Fonts */

@font-face {
    font-family: "Work Sans";
    src: url("/fonts/Work_Sans/WorkSans-Regular.ttf");
}

/* base */
html {
    background-color: hsla(0, 10%, 94%, 1);
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 1.75;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
}

a {
    color: hsla(120, 24%, 27%, 1);
}

code,
pre {
    background-color: hsla(120, 24%, 83%, 1);
    overflow-x: auto;
}

code {
    max-width: 100%;
    word-wrap: anywhere;
}

img {
    width: 100%;
}

.page {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 1em 1em 1em;
}

.page h1:first-of-type {
    margin-top: 0;
}

/* Home page */

.home__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.home__headshot {
    margin-bottom: 1em;
    min-width: 250px;
    width: 33%;
}

.home__headshot img {
    border-radius: 50%;
}

.home__lead {
    box-sizing: border-box;
    padding-right: 1em;
    width: 66%;
}

.home__lead p:first-of-type {
    margin-top: 0;
}

@media (max-width: 787px) {
    .home__container {
        flex-direction: column-reverse;
        ;
    }

    .home__lead {
        padding-right: 0;
        width: 100%;
    }
}

/* Navbar */

nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 1em 1em 0;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 48px;
}

/* Experience */

.Experience li {
    line-height: 1.5;
}

/* Brickbreaker */

.brickbreaker canvas {
    background: #eee;
    display: block;
    margin: 0 auto;
}

/* Blog */

.blog ul {
    list-style: none;
    padding-left: 0;
}

.post-meta {
    font-size: 16px;
    ;
}

.post-list li {
    margin-bottom: 3em;
}

/* Two Column Layout */

.two-column {
    display: grid;
    grid-template-columns: 45% 1fr;
    height: 100vh;
}

#hamburger {
    display: none;
}

.two-column h1:first-of-type,
.two-column p:first-of-type {
    margin-top: 0;
}

.two-column aside {
    background: #5c5552;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: flex-end;
    min-width: 500px;
}

.two-column aside .content {
    max-width: 500px;
    padding: 2em;
}

.two-column aside a {
    color: #C3DAC3;
}

.two-column main {
    padding: 2em;
    overflow-y: auto;
}

.two-column .copy {
    max-width: 500px;
}

@media (max-width: 1280px) {
    .two-column {
        grid-template-columns: 100%;
    }

    .two-column aside {
        box-sizing: border-box;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        min-width: unset;
        width: 100vw;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1;
        overflow: auto;
    }

    .two-column aside .content {
        box-sizing: border-box;
        max-width: 100%;
    }

    .two-column aside.is-active {
        transform: translateX(0%);
    }

    #hamburger {
        background: transparent;
        background-image: url('/img/hamburger.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        box-sizing: border-box;
        color: transparent;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        width: 50px;
        padding: 0;
        z-index: 2;
    }

    nav ul {
        flex-direction: column;
        margin-top: 0;
    }
}

.headshot {
    /* border-radius: 50%; */
    width: 200px;
}
