/* Ogden Studios CSS 7/3/2017 */

html {
    box-sizing: border-box
}
*,
*:before,
*:after {
    box-sizing: inherit
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

* {
    box-sizing: border-box;
}
body {
    margin: 0
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

a {
    background-color: transparent;
	color: #6BA368;
	text-decoration: none;
}

a-webkit-any-link{
text-decoration:none !important;
}

a:active,
a:hover {
    outline-width: 0;
	text-decoration: none;
}

img {
    border-style: none;
    display: inline;
    margin: 0 auto;
}

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}
html {
    overflow-x: hidden
}
h1 {
    font-size: 36px
}
h2 {
    font-size: 30px
}
h3 {
    font-size: 24px
}
h4 {
    font-size: 20px
}
h5 {
    font-size: 18px
}
h6 {
    font-size: 16px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

.ogden-wide {
    letter-spacing: 4px
}
hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}



.ogden-center .ogden-bar {
    display: inline-block;
    width: auto
}

.ogden-container:after,
.ogden-container:before,
.ogden-row:after,
.ogden-row:before,
.ogden-row-padding:after,
.ogden-row-padding:before,
.ogden-cell-row:before,
.ogden-cell-row:after,
.ogden-clear:after,
.ogden-clear:before,
.ogden-bar:before,
.ogden-bar:after {
    content: "";
    display: table;
    clear: both
}

.ogden-col,
.ogden-half,
.ogden-third,
.ogden-twothird,
.ogden-threequarter,
.ogden-quarter {
    float: left;
    width: 100%
}
.ogden-col.s1 {
    width: 8.33333%
}
.ogden-col.s2 {
    width: 16.66666%
}
.ogden-col.s3 {
    width: 24.99999%
}
.ogden-col.s4 {
    width: 33.33333%
}
.ogden-col.s5 {
    width: 41.66666%
}
.ogden-col.s6 {
    width: 49.99999%
}
.ogden-col.s7 {
    width: 58.33333%
}
.ogden-col.s8 {
    width: 66.66666%
}
.ogden-col.s9 {
    width: 74.99999%
}
.ogden-col.s10 {
    width: 83.33333%
}
.ogden-col.s11 {
    width: 91.66666%
}
.ogden-col.s12 {
    width: 99.99999%
}

@media (min-width: 601px) {
    .ogden-col.m1 {
        width: 8.33333%
    }
    .ogden-col.m2 {
        width: 16.66666%
    }
    .ogden-col.m3,
    .ogden-quarter {
        width: 24.99999%
    }
    .ogden-col.m4,
    .ogden-third {
        width: 33.33333%
    }
    .ogden-col.m5 {
        width: 41.66666%
    }
    .ogden-col.m6,
    .ogden-half {
        width: 49.99999%
    }
    .ogden-col.m7 {
        width: 58.33333%
    }
    .ogden-col.m8,
    .ogden-twothird {
        width: 66.66666%
    }
    .ogden-col.m9,
    .ogden-threequarter {
        width: 74.99999%
    }
    .ogden-col.m10 {
        width: 83.33333%
    }
    .ogden-col.m11 {
        width: 91.66666%
    }
    .ogden-col.m12 {
        width: 99.99999%
    }
}
@media (min-width: 993px) {
    .ogden-col.l1 {
        width: 8.33333%
    }
    .ogden-col.l2 {
        width: 16.66666%
    }
    .ogden-col.l3 {
        width: 24.99999%
    }
    .ogden-col.l4 {
        width: 33.33333%
    }
    .ogden-col.l5 {
        width: 41.66666%
    }
    .ogden-col.l6 {
        width: 49.99999%
    }
    .ogden-col.l7 {
        width: 58.33333%
    }
    .ogden-col.l8 {
        width: 66.66666%
    }
    .ogden-col.l9 {
        width: 74.99999%
    }
    .ogden-col.l10 {
        width: 83.33333%
    }
    .ogden-col.l11 {
        width: 91.66666%
    }
    .ogden-col.l12 {
        width: 99.99999%
    }
}

.ogden-content {
    max-width: 980px;
    margin: auto
}

@media (max-width: 600px) {
    .ogden-modal-content {
        margin: 0 10px;
        width: auto 
    }
    .ogden-modal {
        padding-top: 30px
    }
    .ogden-dropdown-hover.ogden-mobile .ogden-dropdown-content,
    .ogden-dropdown-click.ogden-mobile .ogden-dropdown-content {
        position: relative
    }
    .ogden-hide-small {
        display: none 
    }
    .ogden-mobile {
        display: block;
        width: 100%!important
    }
    .ogden-bar-item.ogden-mobile,
    .ogden-dropdown-hover.ogden-mobile,
    .ogden-dropdown-click.ogden-mobile {
        text-align: center
    }
    .ogden-dropdown-hover.ogden-mobile,
    .ogden-dropdown-hover.ogden-mobile .ogden-btn,
    .ogden-dropdown-hover.ogden-mobile .ogden-button,
    .ogden-dropdown-click.ogden-mobile,
    .ogden-dropdown-click.ogden-mobile .ogden-btn,
    .ogden-dropdown-click.ogden-mobile .ogden-button {
        width: 100%
    }
}
@media (max-width: 768px) {
    .ogden-modal-content {
        width: 500px
    }
    .ogden-modal {
        padding-top: 50px
    }
}
@media (min-width: 993px) {
    .ogden-modal-content {
        width: 900px
    }
    .ogden-hide-large {
        display: none 
    }
    .ogden-sidebar.ogden-collapse {
        display: block 
    }
}
@media (max-width: 992px) and (min-width: 601px) {
    .ogden-hide-medium {
        display: none 
    }
}
@media (max-width: 992px) {
    .ogden-sidebar.ogden-collapse {
        display: none
    }
    .ogden-main {
        margin-left: 0 ;
        margin-right: 0 
    }
}

.ogden-row-padding,
.ogden-row-padding>.ogden-half,
.ogden-row-padding>.ogden-third,
.ogden-row-padding>.ogden-twothird,
.ogden-row-padding>.ogden-threequarter,
.ogden-row-padding>.ogden-quarter,
.ogden-row-padding>.ogden-col {
    padding: 0 8px
}
.ogden-container {
    padding: 0.01em 16px;
}

.ogden-opacity,
.ogden-hover-opacity:hover {
    opacity: 0.60
}
.ogden-opacity-off,
.ogden-hover-opacity-off:hover {
    opacity: 1
}
.ogden-opacity-max {
    opacity: 0.25
}
.ogden-opacity-min {
    opacity: 0.75
}

.ogden-tiny {
    font-size: 10px 
}
.ogden-small {
    font-size: 12px 
}
.ogden-medium {
    font-size: 15px 
}
.ogden-large {
    font-size: 18px 
}
.ogden-xlarge {
    font-size: 24px 
}
.ogden-xxlarge {
    font-size: 36px 
}
.ogden-xxxlarge {
    font-size: 48px 
}
.ogden-jumbo {
    font-size: 64px 
}

.ogden-center {
    text-align: center 
}

.ogden-margin-bottom {
    margin-bottom: 16px 
}
.ogden-padding-32 {
    padding-top: 32px ;
    padding-bottom: 32px 
}
.ogden-padding-64 {
    padding-top: 64px ;
    padding-bottom: 64px 
}

/*Contact Form CSS*/
label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
	float: left;
	color: #5C5652;
}

form {
    margin:0 auto;
    width:459px;
	max-width: 100%;
}

input, textarea {
	width:100%;
	height:27px;
	max-width: 100%;
	background:#efefef;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	font-size:0.9em;
	color:#5C5652;
	font-family: Verdana, sans-serif;
}

textarea {
	height:213px;
	
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

#submit {
    width:127px;
    height:38px;
    border:none;
    margin-top:20px;
    cursor:pointer; 
	color: #5C5652;
}

	#submit:hover {
	    opacity:.9;
	}
/* Colors */

.ogden-white,
.ogden-hover-white:hover {
    color: #000 ;
    background-color: #fff 
}

.ogden-black,
.ogden-hover-black:hover {
    color: #fff ;
    background-color: #000 
}
