<header role="banner">
    <nav id="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            {% for page in (site.pages | sort: 'weight') %} {% if page.nav %}
            <li><a href="{{page.permalink}}">{{ page.title }}</a></li>
            {% endif %} {% endfor %}
        </ul>
    </nav>
    <button aria-label="Mobile navigation toggle" id="hamburger" class="hamburger hamburger--slider" type="button">
        <span class="hamburger-box hamburger--slider">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</header>