$nav-breakpoint: 637px;
nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 1em;
    @media all and (max-width: $nav-breakpoint) {
        flex-wrap: wrap;
    }
    ul {
        display: flex;
        list-style: none;
        padding-left: 0;
        @media all and (max-width: $nav-breakpoint) {
            display: block
        }
    }
    li {
        margin-right: 48px;
        @media all and (max-width: $nav-breakpoint) {
            margin: 28px 56px 28px 0;
        }
    }
    @media (max-width: $nav-breakpoint) {
        background: $color__gray;
        height: 100%;
        left: -9999px;
        position: absolute;
        transition: left 0.1s ease-in-out;
        width: 100%;
        &.is-active {
            left: 0;
        }
    }
}