nav {
    display: flex;
    align-items: center;
    @media all and (max-width: 600px) {
        flex-wrap: wrap;
    }
    ul {
        display: flex;
        list-style: none;
        padding-left: 0;
    }
    li {
        margin-right: 1em;
    }
    .brand {
        height: 100px;
        margin-left: 1em;
        margin-right: 1em;
        width: 100px;
    }
}
