html {
    background-color: $color__background-gray;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

h1 {
    text-transform: uppercase;
}

a {
    color: $color__light-green;
    text-decoration: none;
}

p {
    line-height: 1.5;
}

.page {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 900px;
    padding: 1em;
}