---
layout: default
---
<h1>Experience</h1>
{% for project in collections.project %} 
<div class="project">
    <a href="{{project.data.link}}" rel="noopener noreferrer" target="_blank">
        <h3>{{project.data.title}}</h3>
    </a>
    <p>{{ project.data.description}}</p>
    <p>Technologies used:</p>
    <ul>
    {% for skill in project.data.skills %}
    <li>{{skill}}</li>
    {% endfor %}
    </ul>
    <a href="{{project.data.github}}" rel="noopener noreferrer" target="_blank">
        <p>GitHub</p>
    </a>
</div>
<hr>
{% endfor %}
{{ content }}