<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
<style>{{ css | cssmin | safe }}</style>
  <body class="two-column">  
    <button id="hamburger" aria-label="Toggle menu">Toggle Menu</button>  
    <aside id="aside">
    <div class="content">
        <nav id="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                {% for page in collections.topLevelPage %}
                <li><a href="{{page.data.permalink}}">{{ page.data.title }}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <h1>Ogden Studios</h1>
        <img class="headshot" src="/img/tyler.jpg" alt=" " height="200px" width="200px" />
        <p>I'm Tyler Williams, Principal Developer at Ogden Studios. I build practical solutions for pragmatic people.</p>
        <a href="https://github.com/ogdenstudios">GitHub</a><br>
        <a href="https://www.linkedin.com/in/tylerwilliamsct">LinkedIn</a><br>
        <a href="mailto:tyler@ogdenstudios.xyz">tyler@ogdenstudios.xyz</a><br>
        <a href="https://ko-fi.com/ogdenstudios">Buy me a coffee</a>
        </div>
    </aside>
    <main aria-label="Content">
        <div class="copy">
        {{ content }}
        </div>
    </main>
    {% capture hamburger %}{% include js/hamburger.js %}{% endcapture %}
    <script>
      {{ hamburger | jsmin | safe }}
    </script>
  </body>
</html>
