{{partial "header.html" .}}
{{ partial "nav.html" .}}
<div class = "container">
  <!-- Hero image row -->
  <div class = "row bg-success">
    <div class = "col">
      <img class = "img-fluid margin-center" src = "img/brand/ogden-transparent.png">
    </div>
  </div>
  <div class = "row bg-success">
    <div class = "col">
      <h2 class="margin-center text-center text-secondary">We build practical solutions for pragmatic people.</h2>
      </div>
    </div>
</div>
{{partial "footer.html" .}}
