{{partial "header.html" .}}
{{ partial "nav.html" .}}
<div class = "container">
  <!-- Hero image row -->
  <div class = "row bg-success">
    <div class = "col">
      <img class = "img-fluid margin-center" src = "img/brand/ogden-transparent.png">
    </div>
  </div>
  <div class = "row bg-success">
    <div class = "col">
      <h2 class="margin-center text-center text-secondary">We build practical solutions for pragmatic people.</h2>
      </div>
    </div>
    <div class = "row bg-secondary">
      <div class = "col">
        <span class = "margin-center text-center text-light">What brought you here today?</span>
      </div>
    </div>
    <div class = "row bg-secondary">
      <div class = "col-4">
        My website is broken
      </div>
      <div class = "col-4">
        I need a new website
      </div>
      <div class = "col-4">
        I don't know what I need/Something else
      </div>
</div>
{{partial "footer.html" .}}
