---
layout: default
---

<h1>Projects</h1>
      {%assign ordered_projects = site.projects | sort:"weight"%}
      {% for project in ordered_projects %}
        {% if project.live %}
        <h3>{{project.title | escape }}</h3>
        <p>{{ project.description}}</p>
        <p>Technologies Used:</p>
        <ul>
        {% for item in project.skills %}
          <li>{{item}}</li>
        {%endfor%}
        </ul>
        {% if project.link %}
        <a href="{{project.link}}" rel="noopener noreferrer" target="_blank"><p>
            Live project
        </p></a>
        {%endif%}
        {%if project.github%}
        <a href="{{project.github}}" rel="noopener noreferrer" target="_blank"><p>GitHub</p></a>
        {%endif%}
        {%endif%}
        {% endfor %}
    </ul>
