---
layout: default
---
<div class="tidbits">
    <h1>Tidbits</h1>
    <h2>Quick Google searches and the answers that worked for me.</h2>
	{{ content }} 
    {%- if site.tidbits.size > 0 -%}
    <ul class="post-list">
        {% assign tidbits = site.tidbits | sort: 'date' | reverse %}
        {%- for tidbit in tidbits -%}
        <li>
            {%- assign date_format = "%b %-d, %Y" -%}
            <span class="post-meta">{{ tidbit.date | date: date_format }}</span>
            <h3>
            <a class="post-link" href="{{ tidbit.url | relative_url }}">
              {{ tidbit.title | escape }}
            </a>
            </h3>
        </li>
        {%- endfor -%}
    </ul>
    {%- endif -%}
</div>


