<div class="home">
    <div class="home__headshot"></div>
    <div class="home__lead">
        <p>I'm Tyler Williams, Principal Developer at Ogden Studios. I build practical solutions for pragmatic people.</p>
        <p>I'm a full stack web developer with a strong background in Ruby on Rails, although I'm language and framework agnostic. For every project I take on, I choose the right tools for the job and provide excellent results using appropriate technologies.</p>
        <p>I'm particularly passionate about the lean web, speed, accessibility, and security. I love developing with continuous deployment, and I believe in a free and open web.</p>
        <p>Find me on <a href="https://github.com/ogdenstudios" rel="noopener noreferrer" target="_blank">GitHub</a></p>
        <p>Or join my network on <a href="https://www.linkedin.com/in/tylerwilliamsct" rel="noopener noreferrer" target="_blank">LinkedIn</a></p>
    </div>
</div>